.games {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.illustration {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

h1,
h3 {
  text-align: center;
  margin: 0;
  padding: 25px;
}

