:root {
  background-color: #172121;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

:root,
body,
#root {
  height: 100%;
}

main {
  background-color: #7f7b82;
  flex: 1;
}
